
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
 
div {
  font-family: 'Open Sans', sans-serif;
}

$bg-color:  #9b870c;

.center-h {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: inherit;
  width: inherit;
}

.App {
  display: grid;
  grid-template-areas: "bar bar"
                       "editor content";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 30fr;
  height: 100%;
}

.editor {
  grid-area: editor;
}
.bar {
  background-color: $bg-color;
  grid-area: bar;
  color: #101820FF;
  font-size: 1.70em;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 5px;
  margin: 0;
}

.content-container {
  height: 100%;
  background-color: $bg-color;
  grid-area: content;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  
}



.checksum-section {
  text-align: center;
}

.deploy-section {
  text-align: center;
}

.json-editor{
  margin: 0 auto;
}

.button {
  margin: 10px;
  border-radius: 5px;
  color: white;
  background-color: #1abc9c;
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: 6px;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}